<h1>Darby HQ</h1>

<hr>

<h2>Birthdays</h2>

<form>
  <label for="timeframe">Show upcoming:</label>
  <select id="timeframe" name="timeframe">
    <option value="1month">1 Month</option>
    <option value="3months">3 Months</option>
    <option value="6months">6 Months</option>
    <option value="all">All</option>
  </select>
</form>
<br>
<table>

 <% @list_of_people.each do |a_person| 
    if a_person.nickname == ""
        result = a_person.first_name
      else
       result = a_person.nickname
      end
  %>
   
  <tr>
    <td>
      <%= result %> 
    </td>
  
    <td>
      <%= a_person.dob.strftime("%B %d") %>
    </td>
  
  
  </tr>
  <% end %>

</table>

<hr>

<h2>Events</h2>
